<!DOCTYPE html>
<html>
  <head>
    <title>Minsoo Kim</title>    
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon-miami.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32-miami.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16-miami.png">
    <link rel="manifest" href="img/site-miami.webmanifest">
    <link rel="mask-icon" href="img/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <style>
      body {
        margin: 0;
        font-family: Arial, Geneva, Helvetica, sans-serif;
      }
      div.content { 
        max-width: 600px;
        margin: 0 auto;
      }
      header {
        width: 100%;
        background: white;
        position: fixed;
      }
      header h1 {
        font-size: 35px;
        margin: 21px 0;
      }
      header + * {
        margin-top: 77px;
      }
    </style>
  </head>
  <body>
    <div class="content">
    <header>
      <h1>Minsoo Kim</h1>
    </header>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/PtvlmOsNV4E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    I guess I can't state my feelings too soon
    <br>
    I don't know you and I can't put no threats in the air
    <p> </p>
    <img src="pics/mini.jpeg" alt="image" style="width: 100%; height: auto;">&nbsp;
    <a name="MRVCModels" href="https://hua-zhou.github.io/MultiResponseVarianceComponentModels.jl/dev/" target="_blank">
      <img src="pics/mrvc.svg" alt="image" style="width: 100%; height: auto;">
    </a>
    <a href="https://hua-zhou.github.io/MultiResponseVarianceComponentModels.jl/dev/" target="_blank">MRVCModels.jl</a>
    <p> </p>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/Eb9O9XRK6yU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    I can't believe you came to my show
    <br>
    it hurts when you don't x2
    <p> </p>
    <img src="pics/sawtelle.jpeg" alt="image" style="width: 100%; height: auto;">&nbsp;
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/zrkIOqJ0-3I" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p> </p>
    <img src="pics/baby.jpeg" alt="image" style="width: 100%; height: auto;">&nbsp;
    <a href="https://github.com/gandallab/C4A-network" target="_blank">
      <img src="pics/C4-abstract.png" alt="image" style="width: 100%; height: auto;">&nbsp;
    </a>
    <img src="pics/mini2.jpeg" alt="image" style="width: 100%; height: auto;">&nbsp;
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/HiNHL96nX_8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    yes of course, I remember, how could I forget how you feel?
    <br>
    you know you were my first time, a new feel
    <p> </p>
    <img src="pics/cali.jpeg" alt="image" style="width: 100%; height: auto;">&nbsp;
    <img src="pics/scrub.jpeg" alt="image" style="width: 100%; height: auto;">
    ⓂⒾⓃⓈⓄⓄ ⓀⒾⓂ •◡•
    <br>
    M̞̦̬͠ị̢͚ͪ͋n̪ͥͤ̕s̳ͩ̽ȍ̙̦̓̎o̧̭̜ͦ͞ K͑̋ï̤̰͔̰͘m̨ͥ̌ ◡̈
    <p> </p>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/lzsiToDItbI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    I believe that marriage isn't between a man and woman, but between love and love
    <br>
    and I believe you when you say that you've lost all faith, but you must believe in something
    <p> </p>
    <img src="pics/cous.jpeg" alt="image" style="width: 100%; height: auto;">&nbsp;
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/EhAZtQT4qX8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p> </p>
    <a href="https://www.espn.com/espn/feature/story/_/id/15188880/kobe-bryant-most-iconic-memorable-photographs" target="_blank">
      <img src="pics/kobe.jpeg" alt="image" style="width: 100%; height: auto;">
    </a>
    if somebody's not obsessed with what they do, we don't speak the same language
    <p> </p>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/5V2sduyz-dk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p> </p>
    <img src="pics/vegas.jpeg" alt="image" style="width: 100%; height: auto;">&nbsp;
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/Hb7QblCdmNM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    I can hear your tears when they drop over the phone
    <br>
    get mad at myself, can't leave you alone
    <br>
    gossip being messy, that ain't what we doing
    <p> </p>
    <img src="pics/high.jpeg" alt="image" style="width: 100%; height: auto;">&nbsp;
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/Xy3VvueX9ck" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    you don't need to worry about them girls
    <br>
    all them fives need to listen when the ten is talking
    <p> </p>
    <img src="pics/dad.jpeg" alt="image" style="width: 100%; height: auto;">&nbsp;
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/BGpmIANN5Lg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p> </p>
    <img src="pics/mini3.jpeg" alt="image" style="width: 100%; height: auto;">&nbsp;
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/FRWXdPSoUT0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    being a racing driver means you are racing with other people
    <br>
    and if you no longer go for a gap that exists, you are no longer a racing driver because we are competing
    <p> </p>
    <img src="pics/dj.jpeg" alt="image" style="width: 100%; height: auto;">&nbsp;
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/L1Fclc2T9vQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    I said I love you baby and I gave your love away
    <p> </p>
    <a name="GeneticsMakie" href="https://github.com/mmkim1210/GeneticsMakie.jl" target="_blank">
      <img src="pics/logo2.svg" alt="image" style="width: 100%; height: auto;">
    </a>
    <a href="https://minsookim.info/GeneticsMakie.jl/dev/" target="_blank">GeneticsMakie.jl</a>
    <p> </p>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/mmsasEoupO4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    you look behind the curtain, and a lot of people's relationships, they are just not as peachy as it seems
    <p> </p>
    <img src="pics/fleming.jpeg" alt="image" style="width: 100%; height: auto;">&nbsp;
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/eVr0-6NRXwU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    and to you it's just a late night out
    <p> </p>
    <img src="pics/steinbeck.png" alt="image" style="width: 100%; height: auto;">
    John Steinbeck on <a href="https://www.theatlantic.com/entertainment/archive/2012/01/john-steinbeck-on-falling-in-love-a-1958-letter/251375/" target="_blank">Falling in Love: A 1958 Letter</a>
    <p> </p>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/zt1rl1d3xF0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    you don't have to know how to make a movie
    <br>
    if you truly love cinema with all your heart and with enough passion, you can't help but make a good movie
    <p> </p>
    <img src="pics/garcon.jpg" alt="image" style="width: 100%; height: auto;">
    comme des <a href="https://en.wikipedia.org/wiki/Gar%C3%A7on_%C3%A0_la_pipe" target="_blank">garçon à la pipe</a>
    <p> </p>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/UNghSuMBraw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    sometimes you'll miss it, and the sound will make you cry
    <br>
    and some nights you dance with tears in your eyes
    <p> </p>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/gVBcX1Sd228" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    sometimes i wanna feel the pain
    <br>
    sometimes you make me wanna face it
    <p> </p>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/IYvEhgYy35I" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p> </p>
    <footer>
      <p><small> Last updated Jun 2024 </small></p>
    </footer>
    </div>
  </body>
</html>

<!--
{% include soundcloudPlayer.html id="698908933" %}
{% include soundcloudPlayer.html id="784836013" %}
{% include youtubePlayer.html id="vYwXMnC03I4" %}
{% include youtubePlayer.html id="2R2ll9SRCeo" %}
-->
